.cookie-banner {
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: left;
  width: 750px;
  background: rgb(249, 249, 249);
  height: min-content;
  height: -moz-min-content;
  height: -o-min-content;
  max-height: 95%;
  padding: 2rem;
  color: rgb(0, 0, 0);
  z-index: 12001;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
}
.cookie-banner-overlay {
  position: fixed;
  z-index: 12000;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.cookie-banner__container {
  min-height: 67%;
  overflow: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.cookie-banner__title {
  text-align: center;
  margin-bottom: 3.5rem;
}
.cookie-banner__text a {
  text-decoration: underline;
  color: rgb(0, 0, 0);
  font: inherit;
}
.cookie-banner__text a:hover {
  color: #ec7a5c;
}
.cookie-banner__buttons {
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.cookie-banner__button {
  cursor: pointer;
  width: 200px;
  height: 40px;
  margin: 0.8rem;
  border-radius: 16px;
  border: none;
  padding: 0;
}
.cookie-banner__button-1 {
  background: #ec7a5c;
  color: rgb(249, 249, 249);
  transition: all 0.2s ease-in;
}
.cookie-banner__button-1:hover {
  transform: scale(1.03, 1.03);
  color: rgb(249, 249, 249);
  background: #e96745;
}
.cookie-banner__button-2 {
  border: 1.5px solid #ec7a5c;
  background: rgba(0, 0, 0, 0);
  transition: all 0.2s ease-in;
  color: #ec7a5c;
}
.cookie-banner__button-2:hover {
  color: #ec7a5c;
  transform: scale(1.03, 1.03);
  background: #ececec;
}
.cookie-banner__option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 0;
  border-radius: 16px;
  background: #ececec;
  padding: 1.5rem;
}
.cookie-banner__option details {
  cursor: pointer;
  width: 100%;
}
.cookie-banner__option details summary {
  display: flex;
  justify-content: space-between;
}
.cookie-banner__details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.cookie-banner__details-container > div {
  width: 90%;
}

summary {
  font-size: 1.2em;
}
summary::-webkit-details-marker {
  display: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 26px;
}
.switch.small {
  width: 48px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input.inactive:checked + .slider {
  background-color: #f19f8a;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
}
.slider::before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.3s;
}
.slider.small::before {
  height: 19px;
  width: 19px;
}

input:checked + .slider {
  background-color: #ec7a5c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ec7a5c;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

input:checked + .slider.small:before {
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}
.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 750px) {
  .cookie-banner {
    width: 95%;
    max-width: 100%;
    padding: 1.2rem;
  }
}